<?xml version="1.0" encoding="UTF-8"?>

<suite name="Amazon Automation Suite">

    <listeners>
        <listener class-name="com.company.projects.listeners.TestListener"/>
    </listeners>

    <test name="smoke test">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.company.project.tests.LoginTest"/>
            <class name="com.company.project.tests.SearchTest"/>
            <class name="com.company.project.tests.LogOutTest"/>
        </classes>
    </test> 
    
    
    
    
     <!--   API test -->
     <test name="Amazon Backend API Modules">
        <classes>
            <class name="com.company.project.api.tests.UserApiTest"/>
        </classes>
    </test>  

</suite>
