<?xml version="1.0" encoding="UTF-8"?>

<suite name="Amazon Automation Suite">

    <listeners>
        <listener class-name="com.company.projects.listeners.TestListener"/>
    </listeners>

    <test name="All Amazon Tests">

        <classes>

            <class name="com.company.project.tests.LoginTest"/>
            <class name="com.company.project.tests.SearchTest"/>
            <class name="com.company.project.tests.ProductTest"/>
            <class name="com.company.project.tests.CartTest"/>
            <class name="com.company.project.tests.CheckoutTest"/>
            <class name="com.company.project.tests.LogOutTest"/>

        </classes>

    </test>

</suite>